@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
	*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
	:root {
		--white-color: #fff;
		--dark-color: #b8336a;
		--primary-color: #abdafc;
		--secondary-color: #b497d8;
		--light-purple-color: #d873da;
		--light-blue-color: #e5fcff;
		
		--font-size-s: 0.8rem;
		--font-size-sn: 1.29999rem;
		--font-size-n: 1.3rem;
		--font-size-m: 1.8rem;
		--font-size-xl: 2.5rem;
		--font-size-xxl: 3.5rem;
		
		--font-weight-normal: 400;
		--font-weight-medium: 700;
		--font-weight-semibold: 700;
		--font-weight-bold: 700;
	
		--border-radius-s: 8px;
		--border-radius-n: 16px;
		--border-radius-m: 30px;
		--border-radius-circle: 50%;
		
		--site-max-width: 1300px;
	}
	ul{
		list-style: none;
	}
	
	a{
		text-decoration: none;
	}
	
	button{
		cursor: pointer;
		border: none;
		background: none;
	}
	
	img{
		width: 100%;
	}
	
	.section-content{
		margin: 0 auto;
		padding: 0 20px;
		max-width: var(--site-max-width);	
	}
	
	.section-title{
		text-align: center;
		padding: 60px 0 100px;
		text-transform: uppercase;
		font-size: var(--font-size-xl);
		color: var(--dark-color);
	}
	
	.section-title:hover {
		color: var(--primary-color);
		transition: 0.4s ease;
	}
		
	.section-title::after {
		content: '';
		width: 190px;
		height: 5px;
		display: block;
		margin: 10px auto;
		border-radius: var(--border-radius-s);
		background: var(--primary-color);
	}
	
	header .navbar{
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-between;
	}
	
	header {
		position: fixed;
		width: 100%;
		z-index: 5;
		
		background: var(--primary-color);
	} 
	
	.navbar .nav-logo .logo-text {
			color: var(--light-purple-color);
			font-weight: var(--font-weight-bold);
			font-size: var(--font-size-xl);
	}

	.navbar .nav-menu {
		display: flex;
		gap: 10px;
	}

	.navbar .nav-menu .nav-link { 
		padding: 10px 10px;
		color: var(--white-color);
		font-size: var(--font-size-n);
		border-radius: var(--border-radius-m);
	}
	
	.navbar .nav-menu .nav-link:hover {
		color: var(--light-blue-color);
		background:var(--secondary-color);
	}
	
	.hero-section{
		min-height: 100vh;
		background: var(--primary-color);
	}
	
	.hero-section .section-content{
	display: flex;
	align-items: center;
	min-height: 100vh;
	color: var(--dark-color);
	justify-content: space-between;
	}
	
	.hero-section .hero-details .title{
		font-size: var(--font-size-xxl);
		font-weight: var(--font-weight-bold);
		color: var(--secondary-color);
	}
	
	.hero-section .hero-details .subtitle{
		margin-top: 8px;
		max-width: 70%;
		font-size: var(--font-size-m);
		
	}
	
	.hero-section .hero-details .description{
		margin: 24px 0 40px;
		max-width: 70%;
		font-size: var(--font-size-n);
		
	}
	
	.hero-section .hero-details .button {
		padding: 10px 24px;
		color: var(--white-color);
		border-radius: var(--border-radius-s);
		border: 2px solid transparent;
		background: var(--secondary-color);
		transition: 0.4s ease;
	}
	
	.hero-section .hero-details .button:hover,
	.hero-section .hero-details .contact-us	{
		color: var(--secondary-color);
		border-color: var(--white-color);
		background: transparent;
		
	}
	
	.hero-section .hero-details :is(.subtitle, .description), .sobre-section .sobre-details{
		max-width: 100%;
	}	
	.hero-section .hero-details .hero-image-wrapper{
		 width: 100%;
		 margin-right: 30px;
	}
	
	.sobre-section{
		padding: 120px 0;
		background: var(--light-purple-color);
	}
	
	.sobre-section .section-content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.sobre-section .sobre-image-wrapper .sobre-image {
		width: 400px;
		height: 400px;
		object-fit: cover;
		border-radius: var(--border-radius-circle);
	}
	
	.sobre-section .sobre-details .section-title{
		padding: 0;
	}
	
	.sobre-section .sobre-details {
	max-width: 50%;	
	}
	
	.sobre-section .sobre-details .text {
	line-height: 24px;
	margin: 50px 0 30px;
	text-align: center;
	font-size: var(--font-size-sn);
	}
	
	.sobre-section .social-link-list {
		display: flex;
		gap: 24px;
		justify-content: center;
	}
	
	.sobre-section .social-link-list .social-link {
		color: var(--light-blue-color);
		font-size: var(--font-size-n);
		transition: 0.2 ease;
	}

	.sobre-section .social-link-list .social-link:hover {
		color: var(--primary-color);
	}

	img.hero-image {
	width: 200%;
	height: auto;
	display: block;
	}
	
	.sobre-section .section-content{
			gap: 70px;
	}
	
	.sobre-section .sobre-image-wrapper .sobre-image {
		width: 190%;
		height: 190%;
		max-width: 440px;
		aspect-ratio: 1;
	}
	
	.sobre-section .sobre-details .text u {
		color: var(--light-blue-color);
		text-decoration-color: var(--light-blue-color);
	transition: color 0.3s ease, text-decoration-color 0.3s ease;
	}

	.sobre-section .sobre-details .text u:hover {
		color: var(--primary-color);
		text-decoration-color: var(--primary-color);
	}

	/*deixar alinhado centralizado em tela pequena*/
	/*.hero-section .section-content {
		 gap: 50px;
		 text-align: center;
		 padding: 30px 200px 20x;
		 flex-direction: column-reverse;
		justify-content: center;
	}
	
	.hero-section .hero-details :is(.subtitle, .description){
	max-width: 100%;
	}
	
	.hero-section .hero-details .button {
		justify-content: center;
		
	}
	
	.hero-section .hero-image-wrapper {
		max-width: 270px;
		margin-top: 0;
		
		}
	}*/
